-r requirements.txt

# Development tools - base versions are managed in requirements.txt
black
isort
mypy
flake8
mkdocs
pytest
pytest-asyncio
pytest-cov
pytest-mock
mkdocs-material

# New development-only tools
pylint
pre-commit
bandit
safety
pytest-xdist
pytest-sugar
coverage
faker
hypothesis
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
ipython
ipdb
line-profiler
memory-profiler
py-spy
httpie
locust
schemathesis
alembic
pgcli
redis-dump-load
docker-compose
